body {
    background-color: #fafbff;
    }

/* Selettori del nav */
body nav {
    background-color: #234567;
    padding: 20px;
}

nav > a {
color: white;
text-decoration: none;
transition: 0.3s;
margin-left: 10px;
}

nav > a:hover {
    color: #ff784d;
}

/* Selettori del section */
section > img {
    height: 300px;
}

/* Selettori dell'aside */
body aside {
    background-color: #edefff;
}

/* GRID MAIN start*/

body > main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
     "principale barra-dx"
     "principale-res principale-res"
     "barra-res barra-res";
}

body nav {
    grid-area: principale;
}

body aside {
    grid-area: barra-dx;
}

/* GRID MAIN end */


/* MEDIA QUERY START */

@media (max-width: 990px) {
    body nav {
        grid-area: principale-res;
    }

    body aside {
        grid-area: barra-res;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    section > img {
        display: block;
        width: 100vw;
        height: initial;
    }
}

/* MEDIA QUERY END */

body > footer {
    background-color: #012345;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
}

footer > form {
    color: white;
    text-align: right;
    
}

footer > form > button {
    background-color: #ff784d;
    color: white;
    transition: 0.4s;
}

footer > form > button:hover {
    background-color: white;
    color: #ff784d;
}    

section {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
}

aside {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
}
